[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plotly = "*"
skforecast = "*"
pickle5 = "*"
xgboost = "*"
joblib = "*"
scikit-learn = "1.1.2"
numpy = "1.23"
pandas = "1.4"

[dev-packages]

[requires]
python_version = "3.9"
