alembic==1.8.1
attrs==22.1.0
autopage==0.5.1
cliff==4.0.0
cmaes==0.8.2
cmd2==2.4.2
colorlog==6.7.0
cycler==0.11.0
fonttools==4.38.0
greenlet==2.0.0.post0
importlib-metadata==5.0.0
joblib==1.2.0
kiwisolver==1.4.4
Mako==1.2.3
MarkupSafe==2.1.1
matplotlib==3.5.0
numpy==1.23.0
optuna==2.10.0
packaging==21.3
pandas==1.4.0
patsy==0.5.3
pbr==5.11.0
pickle5==0.0.11
Pillow==9.3.0
plotly==5.11.0
prettytable==3.5.0
pyaml==21.10.1
pyparsing==3.0.9
pyperclip==1.8.2
python-dateutil==2.8.2
pytz==2022.6
PyYAML==6.0
scikit-learn==1.1.0
scikit-optimize==0.9.0
scipy==1.9.3
seaborn==0.11.0
setuptools-scm==7.0.5
six==1.16.0
skforecast==0.5.1
SQLAlchemy==1.4.43
statsmodels==0.13.0
stevedore==4.1.0
tenacity==8.1.0
threadpoolctl==3.1.0
tomli==2.0.1
tqdm==4.64.0
typing_extensions==4.4.0
wcwidth==0.2.5
zipp==3.10.0
